.slider_block{
    width: 80%;
    display: block;
    float: left;
}
.slider{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    float:left;
}
#slider_block1{
    display: flex;
    position: relative;
}

#slider_block2{
    display: flex;
    position: relative;
}
#slider_block3{
    display: flex;
    position: relative;
}
.left{
    opacity: 0.6;
    order:1;
    width: 25%;
    z-index: 0;
    transition: 3s;
}
.left:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}
.center{
    order:2;
    width: 50%;
    z-index: 1;
    transition: 3s;
}
.right{
    order:3;
    width: 25%;
    z-index: 0;
    opacity: 0.6;
    transition: 3s;
}
.right:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}
.slider_nav{
    width: 100%;
    height: 30px;
    display: flex;
    float:left;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.slider_nav_b{
    width: 15px;
    height: 8px;
    margin-left: 5px;
    cursor: pointer;
    background-color: darkgrey;
}
.slider_nav_b:hover{
    background-color: darkorchid;
}
.slider_nav_b_hover{
    background-color: darkorchid;
}