.slider{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#slider_block1{
    display: flex;
    position: relative;
}

#slider_block2{
    display: flex;
    position: relative;
}
#slider_block3{
    display: flex;
    position: relative;
}
.left{
    opacity: 0.6;
    order:1;
    width: 25%;
    z-index: 0;
    transition: 3s;
}
.left:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}
.center{
    order:2;
    width: 50%;
    z-index: 1;
    transition: 3s;
}
.right{
    order:3;
    width: 25%;
    z-index: 0;
    opacity: 0.6;
    transition: 3s;
}
.right:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}