.slider{
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#slider_block1{
    display: flex;
}

#slider_block2{
    display: flex;
}
#slider_block3{
    display: flex;
}
.left{
    width: 25%;
    order:1;
    transition: 3s;
    opacity: 0.5;
}
.left:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}
.center{
    width: 50%;
    order:2;
    transition: 3s;
}
.right{
    width: 25%;
    order:3;
    transition: 3s;
    opacity: 0.5;
}
.right:hover{
    opacity: 1;
    transition: 1s;
    cursor: pointer;
}